@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .center {
      width: 100%;
    }
  }

h1{
    text-align: center;
    margin-top: 40px;
}

h3{
    text-align: center;
    font-size: medium;
}

body{
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,121,85,1) 42%, rgba(0,212,255,1) 100%);
}

.center{
    margin: 0 auto;
    background-color: white;
    height: 350px;
    width: 700px;
    border-radius: 30px 30px 30px 30px;
}

.wrapper1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 20px;
}

.wrapper1 img {
    height: 140px;
    width: 140px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px
}

.wrapper2{
    color:black;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    margin-left: 220px;
    margin-right: 220px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper2 div{
    background-color: gainsboro;
    height: 70px;
    width: 120px;
    margin-top: 10px;
}

.center p {
    text-align: center;
}

.wrapper3{
    position: absolute;
    margin-left: 270px;
    margin-bottom: 10px;
}

.score{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    font-weight: bold;
    color: white;
    width: 700px;
    margin: 0 auto;
}

#user-choice{
    font-size: big;
    font-weight: bold;
}

#computer-choice{
    font-size: big;
    font-weight: bold;
}

#result{
    font-size: big;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

#messageWinner{
    background-color: rgb(206, 233, 206);
    color: green;
    height: 20px;
    width: 170px;
    text-align: center;
    font-weight: bold;
}

#messageLooser{
    background-color: rgb(255, 204, 204);
    color: #d32f2f;
    height: 20px;
    width: 190px;
    text-align: center;
    font-weight: bold;
}

#restartGame{
    margin-top: 70px;
    background: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

.hide{
    visibility: hidden;
}
  
.reveal{
    visibility: visible;
}

